<!--
<div class="layout-topbar">
  <div class="layout-topbar-inner">
      <div class="layout-topbar-logo-container">
      </div>
  </div>
</div> -->
<p-menubar>
  <ng-template pTemplate="start">
    <app-logo></app-logo>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      Dashboard
    </div>
</ng-template>
</p-menubar>

<div class="layout-content">

  <div class="layout-sidebar">
    <aside>
      <nav>
          <ol class="layout-menu">
              <li>
                  <a [routerLink]="'/'" routerLinkActive="router-link-active">
                    <span>Dashboard</span>
                  </a>
              </li>
              <li>
                  <a [routerLink]="'/'" routerLinkActive="router-link-active">
                    <span>Processes</span>
                  </a>
                  <div class="overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                    <ol>
                        <li>
                          <a [routerLink]="'/batch-jobs'" routerLinkActive="router-link-active">
                            <span>Batch Job List</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="'/files'" routerLinkActive="router-link-active">
                            <span>File List</span>
                          </a>
                        </li>
                    </ol>
                </div>
              </li>
          </ol>
      </nav>
    </aside>
  </div>

  <div class="layout-content-slot">
    <router-outlet></router-outlet>
  </div>
</div>

